.Loader {
  min-height: 200px;
  padding: 2rem;
}

.Loader.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  min-height: 100vh;
}

.Loader.full-screen.dark {
  background-color: rgba(6, 6, 19, 0.9);
}

