.UserProfilePage {
    background-color: white;
    color: #000000;
    min-height: 100vh;
    padding: 2rem;
}

.UserProfilePage .card {
    background-color: #EBE0D5;
    border: none;
    border-radius: 8px;
}

.UserProfilePage .btn-style-1 {
    color: black
}

.UserProfilePage .btn-style-1:hover {
    color: white
}

.UserProfilePage .text-danger {
    color: black !important
}

.UserProfilePage .text-danger:hover {
    color: white !important
}

@media (max-width: 768px) {
    .UserProfilePage {
        padding: 1rem;
    }

    .UserProfilePage .card {
        padding: 1rem;
    }

    .UserProfilePage .card img {
        height: 4rem;
        width: 4rem;
    }

    .UserProfilePage .card h3 {
        font-size: 1.5rem;
    }

    .UserProfilePage .card p {
        font-size: 1rem;
    }
}